/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");






/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --circle : 	#0F9D58;
  --circle2 : #F4B400;
}

/*===== Colores =====*/
:root {
  --first-color: 	#4285F4;
  --second-color: #0E2431;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  overflow-x: hidden;
}



h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/*===== CLASS CSS ===== */


.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/*===== preloader =====*/


.colour{
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
}

.blue{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    background-color: #4285F4;
    display: inline-block;
    margin: 0.3cm;
    animation: blue1 3s ease-in-out infinite;
    animation-delay: 0s;
}

@keyframes blue1{
    0%,50%{
        transform: scale(1);
        background-color: #4285F4;
    }
    25%{
        transform: scale(0.2);
        background-color: #4285F4;
    }
    50%{
        transform: translateY(2.5cm);
    }
}

.red{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    background-color: #DB4437;
    display: inline-block;
    margin: 0.3cm;
    animation: red1 3s ease-in-out infinite;
    animation-delay: 0.2s;
}

@keyframes red1{
    0%,50%{
        transform: scale(1);
        background-color: #DB4437;
    }
    25%{
        transform: scale(0.2);
        background-color: #DB4437;
    }
    50%{
        transform: translateY(2.5cm);
    }
}

.yellow{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    background-color: #F4B400;
    display: inline-block;
    margin: 0.3cm;
    animation: yellow1 3s ease-in-out infinite;
    animation-delay: 0.4s;
}

@keyframes yellow1{
    0%,50%{
        transform: scale(1);
        background-color: #F4B400;
    }
    25%{
        transform: scale(0.2);
        background-color: #F4B400;
    }
    50%{
        transform: translateY(2.5cm);
    }
}

.green{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    background-color: #0F9D58;
    display: inline-block;
    margin: 0.3cm;
    animation: green1 3s ease-in-out infinite;
    animation-delay: 0.6s;
}

@keyframes green1{
    0%,50%{
        transform: scale(1);
        background-color: #0F9D58;
    }
    25%{
        transform: scale(0.2);
        background-color: #0F9D58;
    }
    50%{
        transform: translateY(2.5cm);
    }
}



/*===== preloader =====*/

/*===== NAV =====*/

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: var(--z-fixed);
  box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

.nav__link {
  position: relative;
  color:var(--first-color);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--first-color);
    transition: .5s;
  }
  .nav__link {
    color:white;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}


.nav__link:hover {
  position: relative;
}
.nav__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
  transition: all 200ms;
  transform: scaleX(0);
  box-shadow: 0 0 10px var(--first-color),
  0 0 15px var(--first-color),
  0 0 60px var(--first-color),
  0 0 80px var(--first-color)
}

.nav__link:hover::after {
  transform: scaleX(1);
}

.nav__logo {
  color: var(--second-color);
  font-size: 1.5rem;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item i {
  font-size: 17px;
  font-weight: 800;
  position: relative;
  top: 10%;
 }

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
  transform: scaleX(1);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.l-main {
  transition: all 1000ms;
}

#home {
  row-gap: 1rem;
  position: relative;
  width: 100vw;
  margin: auto;
  overflow-x: hidden;
  height: 100vh;
}

/*circle*/
.circle {
  width: 500px;
  height: 500px;
  background: var(--circle);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: -75%;
  z-index: -1;
}

  .circle2 {
    width: 500px;
    height: 500px;
    background: var(--circle2);
    position: absolute;
    bottom: 20%;
    right: -75%;
    /* border-radius: 50%; */
    transform: rotate(45deg);
    z-index: -1;
  }


.home__data {
  align-self: center;
  margin-right :20px;
  margin-left: 20px;
  margin-top: 50px;
}

.home__txt {
  font-size: 2.5vh;
  text-align: justify;
  max-width:95%;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  margin-right: 10px;
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: row;
  margin-right :20px;
  margin-left: 20px;
}

.home__btn {
  margin-top: 30px;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
  margin-right:35px;
}

.home__social-icon:hover {
  color: var(--first-color);

}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  position: relative;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, .35);
}

/* table */

.container{
  
  width: 80%;
  margin: auto;

}
.box:hover{
  color:white;
  margin: 5px;
  border: 1px solid rgb(18, 18, 224);
  background-color: #007bff;;
  padding: 8px;
}

.btn{
  color: black;
}
.btn:hover{
   color: white;
}

.join{
  color:black;
  background-color:#20c997;
}
.join:hover{
  color:white;
   border: 1px solid black;
   background-color:black;
}

/* == Rewards == */
.container-title{
  color: var(--first-color);
  font-weight:bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}
.container-title2{
  color: var(--second-color);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container .cards {
  margin-top: 5%;
  height: 25rem;
  max-width: 100vw;
}
/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}


/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: white;
  text-align: center;
  font-weight: var(--font-semi);
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 30px;
}

.footer_title {
  font-size: 2rem;
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}
.footer_sections{
  display: grid;
  width: 100%;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.footer_section h3{
  position: relative;
  font-weight: 500;
  margin-bottom: 15px;

}
.sco{
  margin-top: 20px;
  display: grid ;
  grid-template-columns: repeat(4,50px);
  grid-gap: 10px;
  justify-content: center;
}

.sco li i{
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #337296;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
}
.sco li i:hover{
  background: #92cff3;
  cursor: pointer;
}
.sco li .bx{
  color: #fff;
  font-size: 20px;
}
footer .links{
  position: relative;
}
footer .links li {
  list-style: none;

}
footer .links li a{
  text-decoration: none;
  color: #f7f7f7;
}
footer .links li a:hover{
  color: #F4B400;
}
.info {
  position: relative;
}
.info a{
  color: #f2f2f2;
}
.info a:hover{
  color: #F4B400;
}

/* ===== MEDIA QUERIES=====*/

@media screen and (max-width: 400px) {

    
  .circle {
    width: 400px;
    height: 400px;
    left: -70%;
  }

  .circle2 {
    width: 400px;
    height: 400px;
    bottom: 50%;
    right: -70%;
  }
  }

  @media screen and (min-width: 500px) {

    
  .circle {
    width: 500px;
    height: 500px;
    top: 50%;
    left: -40%;
  }

  .circle2 {
    width: 500px;
    height: 500px;
    bottom: 20%;
    right: -50%;
  }
  }

@media screen and (min-width: 768px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  .nav__link::after{
      box-shadow: 0 0 0 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  
  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  #home {
    margin-top: 5vh;
    height: 80vh;
    position: relative;
    margin: auto;
    overflow-x: visible;
    height: 100vh;
  }

  .circle {
    width: 500px;
    height: 500px;
    top: 40%;
    left:-15%;
  }

  .circle2 {
    width: 500px;
    height: 500px;
    bottom: 30%;
    right: -40%;
  }

  .home__title{
    font-size: 8vh;
  }

  .home__data {
    align-self: flex-end;
  }

  .home__txt {
    font-size: 3vh;
    text-align: justify;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .contact__form {
    width: 360px;
  }

  .contact__container {
    justify-items: center;
  }
}


@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  #home{
      margin: auto;
  }

  .home__img {
    right: 10%;
  }

}
/* =====for footer start====== */
@media (max-width:920px) {
  footer{
    padding: 40px;
  }
  footer .footer_sections{
    grid-template-columns: repeat(2,1fr);

  }
  
}
@media (max-width:540px) {
  footer .footer_sections{
    grid-template-columns: repeat(1,1fr);

  }
  
}
/* ======for footer ends==== */